.bg-green{
    background-color: rgb(229, 250, 233);
}
.bg-gray{
    background-color: rgb(108, 117, 126);
}
.bg-btn{
    background-color: rgb(39, 168, 68);
}
.bg-modal{
    background-color: rgb(245,249,252);
}
.bg-green2{
    background-color: rgb(39, 168, 68);
}